/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* リセット用（任意） */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 全体のスタイル */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

/* 見出しなど */
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}
